.panel{
    position: relative;
    top: 100px;
    z-index: 1;
    text-align: center;
}
.particles{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo{
    width: 90px;
    height: 90px;
    display: block;
    margin: 10px auto;
}
.title{
    font-size: 26px;
    font-weight: 700;
    color: #555;
}

@media screen and (max-width: 800px) {
    .panel{
        top: 10px;
    }
    .logo{
        width: 60px;
        height: 60px;
    }
    .title{
        font-size: 20px;
    }
}